.item {
  position: absolute;
  left: var(--paster-item-left);
  top: var(--paster-item-top);
  width: var(--paster-item-width);
  height: var(--paster-item-height);
  z-index: var(--paster-item-z);
  transform: var(--paster-item-transform);
}
